@import 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css';
 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

 
} 

 body{
   font-family: montserrat;
  background: radial-gradient(#fff, rgb(64, 62, 62));
 
}

.cart-wrapper{
  max-width: 900px;
  margin: 0 auto;

}

.cart-wrapper h1{
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
}

.project{
  display: flex;
}

.shop{
  flex: 75%;
}

.box{
  display: flex;
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-bottom: 20px;
  background: #fff;
  transition: all .6s ease;
  box-shadow: rgba(100,100,111,0,2) 0 7px 29px 0;
}
.box:hover{
  transform: scale(1.02);

}
.box img{
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.cart-content{
  padding: 20px;
  position: relative;
  width: 100%;
}

.cart-content h3{
  margin-bottom: 30px;

}

.cart-content h4{
  margin-bottom: 50px;
}

.btn-area{
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 25px;
  background-color: black;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
}

.btn-area:hover{

  background-color: gray;
  color:#fff;
}

.unit input{
width: 50px;
padding: 8px;
text-align: center;

}

.btn-area i{

  margin-right: 5px;

}

.right-bar{
  flex: 25%;
  margin-left: 20px;
  padding: 20px;
  /* height: 400px; */
  border-radius: 5px;
  background: #fff;
  box-shadow: rgba(100,100,111,0,2) 0 7px 29px 0;
}

.right-bar hr{
  margin-bottom: 25px;

}

.right-bar p{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 20px;
}

.right-bar a{
  background-color: black;
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-weight: 900;

}



.right-bar i{
  margin-right: 15px;
}

.right-bar a:hover{
  background-color: gray;
}
.nav-bar{
  display: flex;
  align-items: center;
  padding: 20px;
 

}
nav{
 flex: 1;
 text-align: right;

}

nav ul{
  display: inline-block;
  list-style-type: none;
}
nav ul li{
  display: inline-block;
  margin-right: 20px;
}
.nav-container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

p{
  color: "#555"
}

.home-row{
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-around;

}

.col-2{
  flex-basis: 50%;
  min-width: 600px;

}

.col-2 img{
  min-width: 100%;
  padding: 50px 0;
}

.col-2 h1{
  font-size: 50px;
  font-family: "Permanent Marker", cursive;
  
  line-height: 60px;
  margin: 25px 0;
  color: rgb(1, 1, 1);
}



.explore-button{
  display: inline-block;
  background: ff523b;
  color: "#555";
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
}

.home-header{
  background: radial-gradient(#fff, rgb(64, 62, 62));
}



.game-header{
  background: radial-gradient(#fff, rgb(64, 62, 62));
}

.game-col-2{
  flex-basis: 50%;
  min-width: 600px;
}

@media screen and (max-width: 700px) {
  .cart-content h3{
    margin-bottom: 15px;
  }
  .cart-content h4{
    margin-bottom: 20px;

  }

  .btn2{
    display: none;
  }
  .box{
    height: 150px;
  }
  .box img{
    height: 150px;
    width: 200px;
  }

  .cart-stuff p{
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .project{
    flex-direction: column;
  }
  .right-bar{
    margin-left: 0;
    margin-bottom: 20px;
  }
}


@media screen and (max-width: 1250px){
  .cart-wrapper{
    max-width: 95%;
  }
}



.big-container{
 display: grid;



}
.product-container{

  display:grid; 
   grid-template-columns: 1fr 1fr 1fr;
  margin-top: 110px;

}

.product-card{
/* display:grid; */
width: fit-content;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 20px;
}


.product-card:hover{
  transform: translateY(-15px);
  transition: transform .3s;

}

.text1{
  font-size: 13px;
  color: #0a0a0a;

}

.info{
  line-height: 17px;

}

.thumbsUp{
  color: rgb(190, 91, 91) ;
}

.thumbsUp:hover{
  color:rgb(246, 7, 7);
}

.cost span{
  color: #fb3531;
  font-weight: bold;
  font-size: 20px;
}


.shoe{
  background: #dc3545;
}


.profile-wrapper{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 75%;
display: flex;
box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);

}

.profile-wrapper .left{
  width: 35%;
  background: linear-gradient(to bottom, hsl(0, 96%, 50%),#df5a01);
  padding: 30px,25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.profile-wrapper .left img{
  margin-bottom: 10px;
  border-radius: 5px;
}

.profile-wrapper .left h4{
  margin-bottom: 10px;

}

.profile-wrapper .left p{
font-size: 12px;
}

.profile-wrapper .right{
width: 100%;
background: #fff;
border-top-right-radius: 5px;
border-top-right-radius: 5px;
padding: 30px 25px;
}

.profile-wrapper .right .profile-info,
.profile-wrapper .right .profile-pro{

  margin-bottom: 25px;
}

.profile-wrapper .right .profile-info h3,
.profile-wrapper .right .profile-pro h3{

  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.profile-wrapper .right .info-data,
.profile-wrapper .right .pro-data{

 display: flex;
 justify-content: space-between;
}

.profile-wrapper .right .info-data .profile-data,
.profile-wrapper .right .pro-data .profile-data{

width: 45%;
}

.profile-wrapper .right .info-data .profile-data h4,
.profile-wrapper .right .pro-data .profile-data h4{

color: #e71010;
margin-bottom: 5px;
}

.profile-wrapper .right .info-data .profile-data p,
.profile-wrapper .right .pro-data .profile-data p{

font-size: 20px;
margin-bottom: 10px;
color: #292a2c;
}

/* cart items */

.cart-page{
  margin: 80px auto ;


}

table{
  width: 100%;
  border-collapse: collapse;
}

.cart-stuff{
  display: flex;
  flex-wrap: wrap;
}

th{
  width: 100%;
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #ff523b;
  font-weight: normal;
}
td{
  padding: 10px 5px;
}

td input{
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a{
  color: #ff523b;
  font-size: 12px;
}

td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
 .total-price{
   display: flex;
   justify-content: flex-end;
 }

 .total-price table{

  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 400px;
 }

 td:last-child{
   text-align: right;
 }
th:last-child{
  text-align: right;
}